div{
  display: flex;
 flex-wrap: wrap;
 list-style-type: none;
 align-items: center;
 justify-content: center;
 margin-right: 1vw;
 margin-top: 2vh;

}
h1{
  font-family: helvetica;
}
.main
{
 
  margin-left: 1vw;
  margin-right: 1vw;
}
body
{
  background: #f8f8f8;
  
}